#preview h1,
#preview h2 {
  @apply mt-0 mb-1 font-medium;
}

#preview h1 {
  @apply text-4xl;
}

#preview h2 {
  @apply text-3xl;
}

#preview p {
  @apply mb-1.5;
}

#preview a {
  @apply underline text-green-800;
}

#preview code {
  @apply bg-gray-400 text-black rounded p-1;
}

#preview pre {
  @apply bg-gray-200 border-solid border-2 border-gray-200 rounded p-1.5 my-2.5 overflow-x-auto;
}

#preview pre code {
  @apply bg-inherit text-inherit font-mono p-0;
}

#preview ul {
  @apply list-disc;
}

#preview ol {
  @apply list-decimal;
}

#preview blockquote {
  @apply bg-sky-900 p-1 m-1.5 rounded border-l-4;
  quotes: "\201C""\201D""\2018""\2019";
}

#preview blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  @apply text-gray-400 text-6xl mr-1 align-[-0.4em]
}

#preview blockquote p {
  @apply inline;
}

/* Dark theme */
.dark {
  @apply bg-gray-700 text-zinc-50;
}

.dark #editor {
  @apply bg-gray-800 text-zinc-200;
}

.dark #preview {
  @apply bg-gray-800 text-zinc-200;
}

.dark #preview a {
  @apply underline text-green-300 hover:text-green-200;
}

.dark #preview pre {
  @apply bg-slate-800 text-stone-300;
}
